body {
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: #EEEEEE;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 44px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 26px;
    font-family: 'Righteous', cursive;
    margin-bottom: 17px;
    margin-left: 16px;
}

h4 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 14px;
}

h5 {
    font-size: 15px;
    color: #A6A6A6;
    font-weight: 300;
    margin-bottom: 10px;
}

h6 {
    font-size: 16px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #CF2F2B;
    box-shadow: 0 0 10px 0 black;
    z-index: 1;
}

header div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 92px;
    width: 414px;
    color: white;
    padding-left: 21px;
}

main {
    margin: 130px 0;
    width: 414px;
    margin-left: auto;
    margin-right: auto;
}

.BottomBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    background-color: white;
}

.BottomBar button {
    width: 364px;
    height: 60px;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.FecharPedido {
    background-color: #37B72E;
}

ion-icon {
    position: absolute;
    right: 8px;
    bottom: 6px;
    color: #37B72E;
    font-size: 25px;
}
article {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 216px;
    background-color: white;
    border-radius: 10px;
    margin-left: 16px;
    width: 172px;
}



article div {
    width: 144px;
    height: 186px;
    margin-left: 14px;
    margin-right: 14px;
}

article ion-icon {
    opacity: 0;
}

section {
    overflow-x: scroll;
    display: flex;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    margin-bottom: 36px;
}

section::-webkit-scrollbar {
    display: none;
  }

.ItemSelecionado {
    border-style: solid;
    border-width: 5px;
    border-color: #37B72E;
}

.ItemSelecionado ion-icon {
    opacity: 1;
}
